.oss {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    overflow-x: hidden;
}
.oss h1 {
   
    font-size: 2.5rem;
    margin-bottom: 40px; 
}
.oss-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
}
.content {
    display: flex;
    justify-content: center;
}
.content img {
    width: 70%;
    max-width: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.oss-container{
   margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.oss-container h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.oss-container p {
    font-size: 1rem;
    line-height: 1.5;
}


@media screen and (min-width: 1400px) {
    .oss {
        padding-top: 9rem;
        min-height: 90vh;
      
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .oss {

        width: 100%;
        height: auto;
       
        
    }
    .oss-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        min-height: 50vh;
        width: 100%;
        
    }
}
@media screen and (max-width: 767px) {
    .oss {
      background-color: aqua;
        width: 100%;
        height: auto;
        padding: 20px; /* Lite mer padding för bättre luft */
    }

    .oss-content {
       
        display: grid;
        grid-template-columns:  1fr;
    }

    .oss-container {
        text-align: center; /* Centrerar texten */
        margin: 0;
        padding: 10px 20px; /* Ger texten lite mer luft */
    }

    .oss-container h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        
    }

    .oss-container p {
        font-size: 1rem;
        line-height: 1.6;
        max-width: 90%; 
    }

    .content img {
        width: 100%;
        max-width: 400px;
    }
}


