.cards {
  width: 100%;
  min-height: 100vh;
  margin: 3.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.cards h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.cards-containet {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-shadow {
  height: 500px;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.625);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.card-shadow::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 50%;
  width: 100%;
  height: 150px;
  background-color: #000;
  border-radius: 75%;
  transform: translateX(-50%);
}

.card-activ {
  background-color: #000;
  height: 520px;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
  border-radius: 50px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.card-activ::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 50%;
  width: 100%;
  height: 170px;
  background-color: #fffbfb;
  border-radius: 75%;
  transform: translateX(-50%);
}

.cards ul {
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards ul li {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 1rem 0;
  position: relative;
}

.card-shadow .pack {
  color: white;
  font-size: 1.6rem;
}

.card-shadow .bottom-bar {
  color: rgb(6, 5, 5);
}

.card-activ ul {
  color: white;
}

.card-activ .pack {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.pric {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}

/* ========== KNAPPAR ========== */

.pris-btn {
  width: 48%;
  background: #04547f;
  border: none;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 20px;
  font-size: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.pris-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #ffffff;
  z-index: -1;
  transition: 0.4s ease;
  border-radius: 0 0 50% 50%;
}

.pris-btn:hover {
  color: #000;
  transform: scale(1.05);
}

.pris-btn:hover::before {
  height: 180%;
}

/* ========== VARIANT: Small paket (svart hover) ========== */

.pris-btn-small::before {
  background-color: #000;
}

.pris-btn-small:hover {
  color: #fff;
}

/* ========== RESPONSIVE ========== */

@media screen and (min-width: 1400px) {
  .cards {
    min-height: 80vh;
    padding-top: 12rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards-containet {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .cards-containet {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    max-width: 1200px;
    width: 100%;
  }
}
