.cards{
    width: 100%;
    min-height: 100vh;
    margin: 3.3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.cards h1 {
   
    font-size: 2.5rem;
    margin-bottom: 40px; 
}
.cards-containet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cards-containet{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-shadow {
    height: 500px;
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.625);
    border-radius: 50px;
    
    position: relative;
   
    overflow: hidden;
}
.card-shadow::before {
    content: "";
    position: absolute;
    top: -44px;
    left: 50%;
    width: 100%;
    height: 150px;
    background-color: #000000;
    border-radius: 75%;
    transform: translateX(-50%);
    
  }

 .card-activ{
    background-color: #000000;
    height: 520px;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
    border-radius: 50px;
    border: 1px solid black;
    position: relative;
   
    overflow: hidden;
  
}
.card-activ::before {
    content: "";
    position: absolute;
    top: -44px;
    left: 50%;
    width: 100%;
    height: 170px;
    background-color: #fffbfb;
    border-radius: 75%;
    transform: translateX(-50%);
    
  }
.cards ul{
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards ul li {
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 1rem 0;
    position: relative;
    
}
.card-shadow .pack{
    color: white;
    font-size: 1.6rem;
}
.card-shadow .bottom-bar{
color: rgb(6, 5, 5);
}
.card-activ ul{
    color: rgb(255, 255, 255);
}

.card-activ .pack{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.pric{
    
    font-size: 1.7rem;
    padding-bottom: 2rem;
}
Button {
    width: 48%;
    background: rgb(4, 84, 127);
    border: none;
    color: rgb(251, 251, 251);
    border-radius: 30px;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  
  Button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #110f0f;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  
  Button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.05);
  }
  
  Button:hover::before {
    height: 180%; /* Background fully visible on hover */
  }
  .btn{
    width: 48%;
    background: rgb(4, 84, 127);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #ffffff;
   
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  
  .btn:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);
  }
  
  Button:hover::before {
    height: 180%; /* Background fully visible on hover */
  }

  @media screen and (min-width: 1400px){
    .cards{
      width: 100%;
      min-height: 80vh;
      padding-top: 12rem;
      
     
  }
  }
  @media screen and (max-width: 940px){
    .cards{
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .cards-containet {
        gap: 50px; /* Lägger mellanrum mellan korten */
       
    }
    .card-activ {
     width: 300px;
    }
    
    
    
    
  }
